.navbar {
  padding-top: 5px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: rgb(199, 197, 197);
  margin-bottom: 30px;
}

.nav-link.active {
  color: black !important;
  font-weight: bold;
}
